<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!-- Link to your external CSS file -->
</head>
<body>
  <div class="background-image">
    <div class="details-container">
      <div class="details">
        <h2> Receptionist Details:{{receptionist.name}} </h2>
        <div>
            <label><b>Receptionist Name:</b>{{receptionist.name}}</label>
        </div>
        <div>
            <label><b>Contact Number:</b>{{receptionist.mobile_no}}</label>
        </div>
        <div>
            <label><b>Location:</b>{{receptionist.address}}</label>
        </div>
       </div>
       </div>
    </div>
    </body>
    </html>