<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Patient List</title>
    </head>
    <body>
    
        <div class="col-md-7 ">
            <h2>Details Of {{receptionist.name}}</h2>
        <div>
            <label><b>Receptionist Name:</b>{{receptionist.name}}</label>
        </div>
        <div>
            <label><b>Contact Number:</b>{{receptionist.mobile_no}}</label>
        </div>
        <div>
            <label><b>Location:</b>{{receptionist.address}}</label>
        </div>
       
    </div>
    </body>
    </html>