<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient List</title>
</head>
<body>

<div>
    <div class="col-md-6 offset-md-3">
        <label><b>Patient Name:</b></label>{{patient.patient_name}}
    </div>
    <div>
        <label><b>Blood Group:</b></label>{{patient.blood_group}}
    </div>
    <div>
        <label><b>Disease:</b></label>{{patient.disease}}
    </div>
    <div>
        <label><b>Location:</b></label>{{patient.location}}
    </div>
    <div>
        <label><b>Age:</b></label>{{patient.age}}
    </div>
    <div>
        <label><b>Mobile no:</b></label>{{patient.mobileno}}
    </div>
</div>
</body>
</html>
