<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!-- Link to your external CSS file -->
</head>
<body>
  <div class="background-image">
    <div class="details-container">
      <div class="details">
        <h2> Patient Details:{{patient.patient_name}} </h2>
        <div>
        <label><b>Patient Name:</b></label>{{patient.patient_name}}
    </div>
    <div>
        <label><b>Blood Group:</b></label>{{patient.blood_group}}
    </div>
    <div>
        <label><b>Disease:</b></label>{{patient.disease}}
    </div>
    <div>
        <label><b>Location:</b></label>{{patient.location}}
    </div>
    <div>
        <label><b>Age:</b></label>{{patient.age}}
    </div>
    <div>
        <label><b>Mobile no:</b></label>{{patient.mobileno}}
    </div>
</div>
</div>
</div>
</body>
</html>
