<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor List</title>
</head>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item"> 
        <a routerLink="prescriptions" routerLinkActive="active" class="nav-link">Prescription List</a>
      </li>
      <li class="nav-item"> 
        <a routerLink="createprescription" routerLinkActive="active" class="nav-link">Add Prescription</a>
      </li>
      </ul>
    </nav>
    
    <body>
      <div class="table-container">
        <table class="table ">
      <thead>
          <tr>
              <th>Patient Name</th>
              <th>Doctor Name</th>
              <th>Description</th>
              <th>Injection</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prescription of pagedPrescription | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
              <td>{{prescription.patientName}}</td>
              <td>{{prescription.doctorName}}</td>
              <td>{{prescription.description}}</td>
              <td>{{prescription.injection}}</td>
              <td>{{prescription.amount}}</td>
              <td>{{prescription.status}}</td>
              <td>
                  <button (click)="updatePrescription(prescription.id)" class="btn">📝</button>
                  <button (click)="deletePrescription(prescription.id)" class="btn">🗑️</button>
              </td>
          </tr>
      </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" class="my-pagination"></pagination-controls>
  </div>
  </body>
  </html>