<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <marquee behavior="slide" direction="left" class="a">
    <h1>Hospital</h1>
    <h1>Managment</h1>
    <h1>Website</h1>
    </marquee>
  <div class="container">
    <a routerLink="adminlogin" routerLinkActive="active" class="tile" id="tile1">
      <img src="https://www.iconarchive.com/download/i69390/aha-soft/free-large-boss/Admin.ico" alt="Admin Icon">
      <span class="tooltip">LOGIN FOR ADMIN</span>
    </a>
    <a routerLink="userlogin" routerLinkActive="active" class="tile" id="tile2">
      <img src="https://th.bing.com/th/id/R.62e558839ce26526a0084ac9d3ee5f92?rik=oNznubyxOSCHow&riu=http%3a%2f%2fwww.downloadclipart.net%2flarge%2f64-wedding-couple-file-clipart.png&ehk=6XOuTZvQcMbVEkpvuucNnHtEmdV7k2RzbqeAsojpCCU%3d&risl=&pid=ImgRaw&r=0" alt="Admin Icon">
      <span class="tooltip">LOGIN FOR USER</span>
    </a>
  </div>
</body>
</html>